StackLayout {
  vertical-align: center;
  text-align: center;

  ActivityIndicator {
    height: 200;
    width: 200;
  }
}

FlexboxLayout {
  justify-content: center;

  Button {
    background-color: #ff0000;
  }
}
