.acticity-container {
  vertical-align: center;
  text-align: center;

  .activity-indicator {
    height: 200;
    width: 200;
  }
}

.button-container {
  justify-content: center;

  .logout-button {
    background-color: #ff0000;
    font-size: 22sp;
    height: 60;
    width: 150;
  }
}
