.main-container {
  vertical-align: center;

  FlexboxLayout {
    justify-content: center;

    TextField {
      margin-bottom: 20;
    }

    .submit-button {
      width: 150;
      font-size: 22sp;
      height: 60;
    }
  }
}
